.calculator {
  width: 100%;
  max-width: 400px;
  margin: 5rem auto;
  padding: 1.5rem;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.calculator:hover {
  transform: scale(1.05);
  /* slightly bigger */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  /* more depth */
}

.calculator_inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.calculator_operations {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 20px;
  gap: 10px;
}

.calculator_actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.success_btn {
  border-radius: 5px;
  color: #fff;
  background-color: #1F487E;
}

.success_btn:hover {
  transform: scale(1.05);
}

.success_btn:active {
  transform: scale(0.95);
}